
<main>
     <section class="text-center text-color-main">
      <div class="row py-lg-5">
         <div class="col-lg-7 col-md-8 mx-auto">
            <h1 class="fw-light">Notificaciones</h1>
            <p class="lead d-inline">Tienes {{notificacionesNumber}} notificaciones</p>
         </div>
      </div>
   </section>
  <div class="ms-5 mt-5">
    {{#each notificaciones as |notificacion|}}
      <div class="d-flex content-notification ">
        <div class="div-image">
        <img
          src="{{notificacion.usuario.image_path}}"
          alt="{{notificacion.usuario.nombre}}"
          height="100px"
          class="img-user-notification"
        />
        </div>
        
        <div class="d-flex flex-column">
          <h2 class="text-light title-notification">{{notificacion.usuario.nombre_user}}</h2>

          <div class="d-flex gap-2 m-3">
            <form action="/aceptar-solicitud" method="post">
              <input
                type="hidden"
                name="UsuarioId"
                value={{notificacion.usuario.id}}
              />
              <input
                type="hidden"
                name="NotificacionId"
                value={{notificacion.id}}
              />
              <button class="btn btn-success" type="submit">Aceptar</button>
            </form>

            <form action="/rechazar-solicitud" method="post">
              <input
                type="hidden"
                name="UsuarioId"
                value={{notificacion.usuario.id}}
              />
              <input
                type="hidden"
                name="NotificacionId"
                value={{notificacion.id}}
              />
              <button class="btn btn-danger" type="submit">Rechazar</button>

            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>